.WorldCreator label,
.WorldCreator input,
.WorldCreator textarea,
.WorldCreator button {
  display: block;
}

.WorldCreator label {
  margin: 10px 0;
}

.WorldCreator textarea,
.WorldCreator input {
  margin-bottom: 20px;
}

.WorldCreator .back-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.WorldCreator .update-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.WorldCreator .editor {
  position: relative;
  padding: 20px;
}

.WorldCreator .input-group {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.WorldCreator .input-group label {
  flex: 0 0 200px;
}

.WorldCreator .input-group textarea,
.WorldCreator .input-group input {
  flex: 1;
  margin-bottom: 0;
  overflow-x: auto;
  overflow-y: auto;
}

.objective-group {
  display: flex;
  flex-direction: column;
}

.objective-divider {
  border: 0;
  border-top: 1px solid black; 
  margin: 20px 0; /* Spacing above and below the line */
}

.effect-container {
  display: flex;
  align-items: center;  /* Align vertically in the center */
  gap: 10px;           /* Space between each item */
}

/* Adjusting width to ensure all elements fit well in one row */
select, textarea, .delete-effect-btn {
  flex: 1;             /* Make each item take up an equal width */
}

.delete-effect-btn {
  flex: none;          /* Override flex:1 for the button to only take the space it needs */
  background-color: transparent; /* Optional: if you don't want a background color */
  border: none;        /* Optional: if you don't want a button border */
  cursor: pointer;     /* Change cursor to hand when hovering over the button */
}